bleach
boto3
botocore
certifi
charset-normalizer
colorama
cx-Oracle
docutils
idna
importlib-metadata
jmespath
keyring
packaging
pkginfo
psycopg2-binary
Pygments
pymongo
pyparsing
python-dateutil
readme-renderer
requests
requests-toolbelt
rfc3986
s3transfer
six
tqdm
twine
urllib3
webencodings
zipp
pyspark
setuptools
wheel
pycryptodomex
JayDeBeApi
